/* !CSS RESET & GRID */
/*-----------------------------------------------------------------------------------*/

@import 'reset.less';
@import 'grid.less';

/* !FONTS */
/*-----------------------------------------------------------------------------------*/

@import 'fonts.less';

/* !COLOURS */
/*-----------------------------------------------------------------------------------*/

@white:#FFFFFF;
@black:#000000;
@red:#ed1c24;
@dark_red:#d81921;
@darker_red:#9f1e23;
@orange:#fbb732;
@green:#8dc63f;
@dull_green:#cbdbb6;
@dull_green_pale:#e4ecd8;
@darker_grey:#464646;
@dark_grey:#707070;
@grey:#b7b7b7;
@light_grey:#d9d9d9;
@pale_grey:#ebebeb;
@paler_grey:#f5f5f5;
@pale_yellow:#fffbf4;
@blue:#00afec;

@swatch1:@red;
@swatch2:@dark_red;
@swatch3:@darker_red;
@swatch4:@orange;
@swatch5:@green;
@swatch6:@dark_grey;
@swatch7:@light_grey;
@swatch8:@pale_grey;
@swatch9:@paler_grey;
@swatch10:@pale_yellow;
@swatch11:@blue;

/* Social networks */
@facebook-blue: #3b5998;
@twitter-blue: #00aced;
@googleplus-red: #dd4b39;
@youtube-red: #bb0000;
@linkedin-blue: #007bb6;
@instagram-blue: #517fa4;
@pinterest-red: #cb2027;
@vimeo-blue: #1AB7EA;
@vine-green: #00B489;
@github-black: #171515;
@bitbucket-blue: #205081;

/* Software */
@word:#2a5699;
@excel:#207245;
@powerpoint:#d24625;
@outlook:#0071c5;
@quark:#7ac142;
@photoshop:#73b4f4;
@indesign:#e33594;
@illustrator:#fc9c0d;
@aftereffects:#c179ff;
@acrobat:#ed1b2d;
@sage:#00805f;
@html5:#e44d26;
@css3:#000000;
@javascript:#f7df1e;
@php:#6682ba;
@mysql:#f7981c;

@error:#f10000;
@success:@vine-green;
@info:@twitter-blue;

/* !FONTS */
/*-----------------------------------------------------------------------------------*/

@helv: Helvetica, Arial, sans-serif;

/* !VARIABLES */
/*-----------------------------------------------------------------------------------*/

@baseline: 9px;
@v-unit: 12px;
@h-unit: 12px;

/*
// Grid defaults
@column-width: 60;
@gutter-width: 20;
@columns: 12;
// Set @total-width to 100% for a fluid layout
@total-width: @gridsystem-width;
*/
@total-width: 100%;

/* !MIXINS */
/*-----------------------------------------------------------------------------------*/

.font-size(@pxValue) {
  @remValue: @pxValue / @base;
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}
.transitionfix() {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0)
}

/* !GLOBAL LAYOUT STYLES */
/*-----------------------------------------------------------------------------------*/

.left { float: left; }
.right { float: right; }
.noFloat { float: none; }
.clear { clear: both !important; }
.inactive { color: #999999; }
.inline { display: inline !important; width: auto !important; }
.autowidth { width: auto; }
.hidden { display: none; }
.centred { margin-left: auto; margin-right: auto; }

/* html { font-size: ~"@{base}px"; } */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	font-family: @helv;
}

.ph {
	background: #EEE;
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

img {
	max-width: 100%;
	height: auto;
}
.mobile,
.mobile_nav,
.mobile_subnav {
	display: none;
}
.container {
	width: 1140px;
	margin: 0 auto;
	> .inner {
		.row();
	}
}

img.alignright {float:right; margin:0 0 10px 10px}
img.alignleft {float:left; margin:0 10px 10px 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 10px 10px}
a img.alignleft {float:left; margin:0 10px 10px 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.hidden { display: none !important; }

/* !Prevent transitions on page load - remove this class with JS */
.preload * {
	transition: none !important;
}

/* !--Responsive iFrame */
.flexible-container {
    position: relative;
    padding-bottom: 56.7%;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,   
.flexible-container object,  
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul.stacked,
ol.stacked {
	list-style: none;
	li {
		border-bottom: 1px solid @grey;
		padding: 5px 0;
		overflow: hidden;
		line-height: 20px;
		a {
			display: block;
		}
	}
	li:last-of-type {
		border-bottom: none;
	}
}

/* !PANELS */
/*-----------------------------------------------------------------------------------*/
.panel {
	border: 1px solid @grey;
	border-radius: 6px;
	padding: 0 10px;
	margin: @v-unit 0;
	overflow: hidden;
	.panel_header {
		font-size: 18px;
		font-weight: normal;
		line-height: 1.2;
		background: @pale_grey;
		margin: 0 -10px;
		padding: 10px;
	}
	ul.stacked,
	ol.stacked {
		margin: 0.5em 0;
	}
}

/* !TABS */
/*-----------------------------------------------------------------------------------*/

ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		border: 1px solid @grey;
		border-bottom-width: 0;
		background: @light_grey;
		display: inline-block;
		border-radius: 6px 6px 0px 0px;
		a {
			padding: 10px 20px;
			display: block;
			color: @black;
		}
	}
	li.active {
		position: relative;
		z-index: 10;
		bottom: -1px;
		background: @pale_grey;
		a {
			padding-top: 11px;
		}
	}
}

//Better rendering if flexbox is supported:
.flexbox {
	ul.tabs {
		display: flex;
		li {
			margin-left: -1px;
		}
		li:first-child {
			margin-left: 0;
		}
		li.active {
			bottom: auto;
			margin-bottom: -1px;
		}
	}
}

/* !GRID */
/*-----------------------------------------------------------------------------------*/

.row { .row(); }

.colx1  { .column(1); }
.colx2  { .column(2); }
.colx3  { .column(3); }
.colx4  { .column(4); }
.colx5  { .column(5); }
.colx6  { .column(6); }
.colx7  { .column(7); }
.colx8  { .column(8); }
.colx9  { .column(9); }
.colx10 { .column(10); }
.colx11 { .column(11); }
.colx12 { .column(12); }

.colx1.right,
.colx2.right,
.colx3.right,
.colx4.right,
.colx5.right,
.colx6.right,
.colx7.right,
.colx8.right,
.colx9.right,
.colx10.right,
.colx11.right,
.colx12.right { float: right; }

.pushx1  { .push(1); }
.pushx2  { .push(2); }
.pushx3  { .push(3); }
.pushx4  { .push(4); }
.pushx5  { .push(5); }
.pushx6  { .push(6); }
.pushx7  { .push(7); }
.pushx8  { .push(8); }
.pushx9  { .push(9); }
.pushx10 { .push(10); }
.pushx11 { .push(11); }
.pushx12 { .push(12); }

.pullx1  { .pull(1); }
.pullx2  { .pull(2); }
.pullx3  { .pull(3); }
.pullx4  { .pull(4); }
.pullx5  { .pull(5); }
.pullx6  { .pull(6); }
.pullx7  { .pull(7); }
.pullx8  { .pull(8); }
.pullx9  { .pull(9); }
.pullx10 { .pull(10); }
.pullx11 { .pull(11); }
.pullx12 { .pull(12); }

.colx1.centred,
.colx2.centred,
.colx3.centred,
.colx4.centred,
.colx5.centred,
.colx6.centred,
.colx7.centred,
.colx8.centred,
.colx9.centred,
.colx10.centred,
.colx11.centred,
.colx12.centred {
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
}

/* !TYPE  */
/*-----------------------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	margin: 0.5em 0;
	color: @black;
	.highlight {
		color: @red;
	}
}
h1,
.h1 {
	font-size: 48px;
	line-height: 1;
}
h2,
.h2 {
   font-size: 21px;
   line-height: 1.2;
}
h2.alt,
.h2.alt {
	font-size: 42px;
}
h2.subheading {
	font-size: 42px;
	font-weight: normal;
	font-style: italic;
	margin-top: -0.5em;
}
h3,
.h3 {
   font-size: 18px;
   line-height: 1.2;
}
h4,
.h4 {
}
h5,
.h5 {
}
h6,
.h6 {
}
p {
	font-size: 14px;
	line-height: 1.4;
	margin: 1em 0;
}
small {
	font-size: 12px;
}
ul {
	margin: 1em 0 1em 1.5em;
	list-style: disc outside;
}
ol {
	margin: 1em 0 1em 1.5em;
	list-style:  decimal outside;
}
li {
	font-size: 14px;
	line-height: 1.4;
}
a {
	text-decoration: none;
	color: @blue;
}
a:hover {
}
.highlight {
}
blockquote {
	padding: @v-unit;
	margin-bottom: @v-unit;
	p {
		font-size: 21px;
		line-height: 1.4;
		font-style: italic;
	}
	p:before {
		content: "“";
		font-size: 60px;
	    display: block;
	    line-height: 1;
	    margin-bottom: -30px;
	    text-indent: -14px;	}
	p:after {
		content: "”";
		font-size: 60px;
		display: block;
		text-align: right;
		line-height: 1;
		margin-bottom: -30px;
	}
}
cite {
	font-style: italic;
}
q {
	quotes: "“" "”";
}
q:before {
	content: open-quote;
}
q:after {
	content: close-quote;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
.strikethru {
	text-decoration: line-through;
}
.alignright { text-align: right; }
.alignleft { text-align: left; }

/* !ICONS  */
/*-----------------------------------------------------------------------------------*/

.icon {
	background: no-repeat 0 0;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	color: @black;
}
.icon.circle,
.icon.rounded-square {
	background: @black;
	color: @white;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	text-align: center;
	line-height: 32px;
	font-size: 20px;
}
.icon.rounded-square {
	border-radius: 3px;
}
.icon.circle.facebook, 
.icon.rounded-square.facebook	{ background-color: @facebook-blue;  }
.icon.circle.twitter, 
.icon.rounded-square.twitter	{ background-color: @twitter-blue;   }
.icon.circle.googleplus, 
.icon.rounded-square.googleplus { background-color: @googleplus-red; }
.icon.circle.linkedin, 
.icon.rounded-square.linkedin	{ background-color: @linkedin-blue;  }
.icon.circle.instagram, 
.icon.rounded-square.instagram	{ background-color: @instagram-blue; }
.icon.circle.pinterest, 
.icon.rounded-square.pinterest	{ background-color: @pinterest-red;  }
.icon.circle.vimeo, 
.icon.rounded-square.vimeo		{ background-color: @vimeo-blue;	 }
.icon.circle.vine, 
.icon.rounded-square.vine		{ background-color: @vine-green;	 }

.icon.circle.tick {
	font-size: 90%;
}
a.icon {
	text-decoration: none !important;
	vertical-align: text-bottom;
}
/* !ALERTS
------------------------------------------------------------------------------*/

.alert {
	margin: @v-unit 0;
	padding: @v-unit/2;
	border: 1px solid;
	p {
		margin: 0 0 0 20px;
		font-weight: normal;
		font-size: 14px;
	}
	a {
		text-decoration: underline;
	}
	a:hover {
		border-bottom: 1px double @black;
	}
}
.alert.success {
	border-color: @success;
	background-color: lighten(@success,60);
	p {
		color: @success;
	}
	a:hover {
		border-bottom: 1px double @success;
	}
}
.alert.success:before {
	.icon;
	content: "\e910";
	color: @success;
	float: left;
}
.alert.error {
	border-color: @error;
	background-color: lighten(@error,50);
	p {
		color: @error;
	}
	a:hover {
		border-bottom: 1px double @error;
	}
}
.alert.error:before {
	.icon;
	content: "\e912";
	color: @error;
	float: left;
}
.alert.info {
	border-color: @info;
	background-color: lighten(@info,50);
	p {
		color: @info;
	}
	a:hover {
		border-bottom: 1px double @info;
	}
}
.alert.info:before {
	.icon;
	content: "\e911";
	color: @info;
	float: left;
}

/* !LINK STYLES */
/*-----------------------------------------------------------------------------------*/

.badge {
	background: @black;
	color: @white;
	border-radius: 10px;
	font-size: 12px;
	line-height: 16px;
	padding: 2px 6px;
	text-align: center;
	display: inline-block;
	.icon {
		color: @white;
		vertical-align: bottom;
	    font-size: 12px;
	    line-height: 16px;
	}
}

/* !TABLES */
/*-----------------------------------------------------------------------------------*/

table {
	border-collapse: collapse;
	position: relative;
	margin-bottom: @v-unit;
	width: 100%;
	border: 1px solid @grey;

	caption {
		font-size: 14px;
		line-height: 1.2;
		overflow: hidden;
		clear: both;
		margin: 0;
		text-align: left;
		padding: 8px;
		color: @black;
		background-color: @pale_grey;
		border: 1px solid @grey;
		border-bottom-width: 0;
	}
	th, 
	td {
		text-align: left;
		vertical-align: top;
		font-size: 13px;
		line-height: 1.2;
		padding: 8px;
		color: @dark_grey;
	}
	th {
		font-size: 14px;
		color: @black;
		background-color: @pale_grey;
	}
	thead {
		border: solid @grey;
		border-width: 1px 0;
	}
	tfoot {
		border: solid @grey;
		border-width: 1px 0;
	}
}
//!--Striped table
table.striped {
	tbody {
		tr:nth-child(even) {
			background-color: @paler_grey;
			th {
				background-color: @light_grey;
			}
		}
	}
}

/* !PAGINATION */
/* (Uses Zebra_Pagination class) */
/*-----------------------------------------------------------------------------------*/

.Zebra_Pagination {
	ul {
		list-style: none;
		margin: @v-unit 0;
		padding: 0;
		display: block;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 5px;
			font-size: 14px;
			a {
				color: @black;
				line-height: 1;
			}
			a:hover {
				
			}
			//Next/previous links
			a.navigation {
				i {
					font-size: 14px;
					vertical-align: text-bottom;
					color: inherit;
				}
			}
			a.previous {}
			a.next {}
			
			//Disabled links
			a.disabled {
				color: @light_grey;
				cursor: default;
			}
			a.disabled:hover {}
			
			//Current page
			a.current {
				color: @blue;
			}
			a.current:hover {}
			
			//The ... separator
			span {}
		}
	}
}

/* !FORMS */
/*-----------------------------------------------------------------------------------*/

form {
	overflow: hidden;
}
fieldset {
	overflow: hidden;
	legend {
		font-size: 18px;
		line-height: 1.2;
		color: @black;
		margin: 0.5em 0;
		font-weight: 700;
	}
}
.field {
	label {
		font-size: 14px;
		line-height: 20px;
		color: @black;
		display: inline-block;
		margin: 0.5em 0;
		transition: 1s;
		a {
			text-decoration: underline;
		}
	}
}
input[type=text],
input[type=email],
input[type=number],
input[type=search],
input[type=password],
input[type=tel],
input[type=url],
textarea,
select {
	font-family: @helv;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	border: 1px solid @dark_grey;
	color: @dark_grey;
	font-size: 14px;
	line-height: 20px;
	display: block;
	border-radius: 4px;
	background: @white;
	padding: 8px;
	transition: 1s;
	-webkit-appearance: none;
}
input[type=radio] {
	font-size: 14px;
}
input.vshort {
	width: 60px;
}
textarea {
	resize: vertical;
}
.rowx3 textarea {
	height: 182px;
}
select {
	display: block;
	background-image: url(../images/select-arrow.svg);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-size: 24px auto;
}
select[multiple] {
	background-image: none;
}

select:focus {
	outline: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=url]:focus,
textarea:focus {
	background-color: @pale_yellow;
	outline: none;
}
input[type=text]:disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=search]:disabled,
input[type=password]:disabled,
input[type=tel]:disabled,
input[type=url]:disabled,
textarea:disabled,
select:disabled {
	color: @light_grey;
	border-color: @light_grey;
}

.field.compact {
	input[type=text],
	input[type=email],
	input[type=number],
	input[type=search],
	input[type=password],
	input[type=tel],
	input[type=url],
	textarea,
	select {
		padding: 2px 8px;
	}	
}
.checkbox_group,
.radio_group {
	label {
		font-size: 14px;
	}
	input[type=radio],
	input[type=checkbox] {
		vertical-align: text-top;
	}
}
.radio_group.vertical,
.checkbox_group.vertical {
	label {
		display: block;
		input[type=radio],
		input[type=checkbox] {
			margin-bottom: 0;
		}
	}
}
ul.radio_group,
ul.checkbox_group {
	list-style: none;
	margin-left: 0;
	.indent {
		padding-left: 26px;
	}
}

//!--Error states
.field.error {
	input,
	textarea,
	select {
		border-color: @error;
		color: @error;
	}
	label {
		color: @error;
	}
}

/* !FLOAT LABELS */
/*-----------------------------------------------------------------------------------*/
.field.float_label {
	position: relative;
	padding-top: 5px;
	margin-top: 6px;
	margin-bottom: 6px;
	textarea.field_input {
	}
	input.field_input {
	}
	label.field_label {
		display: block;
		position: absolute;
		top: 6px;
		left: 7px;
		font-size: 14px;
		line-height: 20px;
		margin: 8px 0;
		padding: 0 2px;
		cursor: text;
		transition: 0.1s;
		z-index: 1;
		color: @light_grey;
	}
	input::-webkit-contacts-auto-fill-button {
		margin-right: 20px;
	}
}
.field.float_label.focus {
	label.field_label {
		top: 0px;
		left: 7px;
		font-size: 11px;
		line-height: 1;
		margin: 0;
		color: @black;
		background-color: @white;
		cursor: default;
	}
}

/* !BUTTONS */
/*-----------------------------------------------------------------------------------*/
.button {
	font-family: @helv;
	box-sizing: border-box;
	display: inline-block;
	border: none;
	border-radius: 6px;
	color: @white;
	background: @black;
	padding: 9px 14px 9px 20px;
	margin: 0;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	cursor: pointer;
	transition: 0.5s;
	-webkit-appearance: none;
}

//!--Primary button
.button > .icon.circle,
.button.primary > .icon.circle {
    width: 16px;
    height: 16px;
    line-height: 16px;
	background: @green;
	float: right;
	vertical-align: middle;
	margin-left: 8px;
    text-indent: -1px;
}
.button:hover,
.button.primary:hover {
	color: @green;
}

//!--Secondary button
.button.secondary > .icon.circle {
	background: @blue;
}
.button.secondary:hover{
	color: @blue;
}

//!--Tertiary button
.button.tertiary > .icon.circle {
	background: @orange;
}
.button.tertiary:hover {
	color: @orange;
}

//!--Disabled button
.button:disabled,
.button:disabled:hover {
	color: @white;
	background: @grey;
	cursor: not-allowed;
	> .icon.circle {
		background: @light_grey;
	}
}

//!--Focussed button
.button:focus {
	outline: none;
}

//!--"Waiting" button
.button.waiting,
.button.waiting:hover {
	background: @red;
	cursor: not-allowed;
	> .icon.circle {
		display: none;
	}
}
.button.waiting:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	background: @red url(../images/loader.svg) no-repeat 100% 50%;
	float: right;
	vertical-align: middle;
	margin-left: 8px;
}
.button.waiting:hover {
	color: @white;
}

.field_help_container {
	position: relative;
	.icon {
		position: absolute;
		width: 16px;
		height: 16px;
		font-size: 16px;
		line-height: 1;
		right: 5px;
		top: 8px;
	}
}
.align2field {
	line-height: 32px;
}
.field_hint {
	float: right !important;
}

/* !IMPORT RESPONSIVE STYLES */
/*-----------------------------------------------------------------------------------*/
@import 'responsive.less';
