@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?um9hv3');
    src:    url('../fonts/icomoon.eot?um9hv3#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?um9hv3') format('truetype'),
        url('../fonts/icomoon.woff?um9hv3') format('woff'),
        url('../fonts/icomoon.svg?um9hv3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon
{
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon.image:after {
  content: "\e941";
}
.icon.tag-filled:after {
  content: "\e9ee";
}
.icon.tag-hollow:after {
  content: "\e9f0";
}
.icon.calendar:after {
  content: "\ea61";
}
.icon.bubble-dots:after {
  content: "\eadc";
}
.icon.equalizer:after {
  content: "\eb5b";
}
.icon.cog-filled:after {
  content: "\eb61";
}
.icon.cog-hollow:after {
  content: "\eb62";
}
.icon.upload:after {
  content: "\e900";
}
.icon.bug:after {
  content: "\e901";
}
.icon.circle-plus-filled:after {
  content: "\e91d";
}
.icon.tick:after {
  content: "\e910";
}
.icon.info:after {
  content: "\e911";
}
.icon.warning:after {
  content: "\e912";
}
.icon.instagram:after {
  content: "\e907";
}
.icon.twitter:after {
  content: "\e908";
}
.icon.facebook:after {
  content: "\e909";
}
.icon.googleplus:after {
  content: "\ea8b";
}
.icon.arrow-left-thin:after {
  content: "\e91f";
}
.icon.arrow-right-thin:after {
  content: "\e920";
}
.icon.download:after {
  content: "\e91c";
}
.icon.tick2:after {
  content: "\e91a";
}
.icon.house:after {
  content: "\e919";
}
.icon.user:after {
  content: "\e916";
}
.icon.circle-help:after {
  content: "\e913";
}
.icon.circle-close:after {
  content: "\e903";
}
.icon.circle-plus:after {
  content: "\e904";
}
.icon.trash:after {
  content: "\e91e";
}
.icon.pinterest:after {
  content: "\e90a";
}
.icon.reply:after {
  content: "\e90e";
}
.icon.retweet:after {
  content: "\e90f";
}
.icon.circle-up:after {
  content: "\edf4";
}
.icon.circle-right:after {
  content: "\edf6";
}
.icon.circle-down:after {
  content: "\edf8";
}
.icon.circle-left:after {
  content: "\edfa";
}
.icon.triangle-up:after {
  content: "\edc7";
}
.icon.triangle-right:after {
  content: "\edc8";
}
.icon.triangle-down:after {
  content: "\edc9";
}
.icon.triangle-left:after {
  content: "\edca";
}
.icon.vcard:after {
  content: "\eb11";
}
.icon.external:after {
  content: "\eec9";
}
.icon.globe:after {
  content: "\ec97";
}
.icon.paperplane:after {
  content: "\ec09";
}
