@import 'base.less';
/*-----------------------------------------------------------------------------------*/
/* !TEMPLATE LAYOUT  																 */
/*-----------------------------------------------------------------------------------*/
.sidebar {
	width: 20%;
	padding: 1%;
	float: left;
	section {
		margin-bottom: 24px;
	
		h3 {
			margin-bottom: 10px;
			border-bottom: 1px solid black;
			clear: both;
		}
		.icon_list {
			list-style: none;
			margin-left: 0;
		}
		#swatches {
			overflow: hidden;
			.swatch {
				width: 33%;
				float: left;
				div {
					height: 0;
					padding-bottom: 100%;
				}
			}
			.swatch.colour1 { background-color: @swatch1 }
			.swatch.colour2 { background-color: @swatch2 }
			.swatch.colour3 { background-color: @swatch3 }
			.swatch.colour4 { background-color: @swatch4 }
			.swatch.colour5 { background-color: @swatch5 }
			.swatch.colour6 { background-color: @swatch6 }
			.swatch.colour7 { background-color: @swatch7 }
			.swatch.colour8 { background-color: @swatch8 }
			.swatch.colour9 { background-color: @swatch9 }
			.swatch.colour10 { background-color: @swatch10 }
			.swatch.colour11 { background-color: @swatch11 }
		}
	}
}
.main {
	width: 75%;
	padding: 1%;
	float: right;
}