/* !***MAX 1140*** */
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 1140px)
{

	.container {
		width: 970px;
	}
		
}

/* !***MAX 970*** */
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 970px)
{

	.container {
		width: 755px;
	}
	
}

/* !***MAX 768*** */
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 768px)
{

	.container {
		width: 95%;
	}

}

/* !***MAX 600*** */
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 600px)
{
	.mobile {
		display: block !important;
	}

	/* !--GRID */
	/*-----------------------------------------------------------------------------------*/
	
	.colx1,
	.colx2,
	.colx3,
	.colx4,
	.colx5,
	.colx6,
	.colx7,
	.colx8,
	.colx9,
	.colx10,
	.colx11,
	.colx12 { .column(12); }
	
	.colx1.right,
	.colx2.right,
	.colx3.right,
	.colx4.right,
	.colx5.right,
	.colx6.right,
	.colx7.right,
	.colx8.right,
	.colx9.right,
	.colx10.right,
	.colx11.right,
	.colx12.right { float: none; }
	
	.pushx1,
	.pushx2,
	.pushx3,
	.pushx4,
	.pushx5,
	.pushx6,
	.pushx7,
	.pushx8,
	.pushx9,
	.pushx10,
	.pushx11,
	.pushx12 { .push(0); }
	
	.pullx1,
	.pullx2,
	.pullx3,
	.pullx4,
	.pullx5,
	.pullx6,
	.pullx7,
	.pullx8,
	.pullx9,
	.pullx10,
	.pullx11,
	.pullx12 { .pull(0); }
	
	/* !--TABS */
	/*-----------------------------------------------------------------------------------*/
	.flexbox {
		ul.tabs {
			li {
				flex-grow: 1;
				text-align: center;
				a {
					padding: 10px;
				}
			}
		}
	}
}

/* !***MAX 320*** */
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 320px)
{
	/* !--TABS */
	/*-----------------------------------------------------------------------------------*/
	ul.tabs {
		li {
			a {
				padding: 10px;
			}
		}
	}

}